body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  color: #fff;
  background-color: #00838f;
  margin: 5%;
}
label {
  font-size: .8em;
}
input {
  display: border-box;
  border-radius: 10px;
  border: 0;
  line-height: 2em;
  width: 100%;
  text-align: center;
}
button {
  display: border-box;
  background: #ff4081;
  border-radius: 10px;
  border: 0;
  line-height: 2em;
  width: 100%;
}
#startButton {
  margin: 1em auto;
}
#timerScreen {
  display: none;
  text-align: center;
}
#timerScreen h2 {
  margin-bottom: 0;
}
#timerScreen p {
  margin-top: 0;
}
#resetButton {
  display: none;
}
a,
a:visited,
a:active {
  color: #fff;
}
a:hover {
  color: #ccc;
}
footer {
  padding-top: 1em;
  text-align: center;
}